body
  form(action="/login", method="post")
    div
      label(for="user") Username
      input#user(type="text", name="username")
    div
      label(for="pwd") Password
      input#pwd(type="password", name="password")
    div
      input(type="submit", value="Submit")
